@import url('https://fonts.googleapis.com/css?family=Lato|Pacifico');
@import url("./bootstrap.min.css");
@import url("https://use.fontawesome.com/releases/v5.5.0/css/all.css");

body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}
p{
    margin: 0;
    padding: 0;
}
/* header */
a.navbar-brand {
    color: rgb(230, 221, 223) !important;
    font-family: 'Pacifico', cursive;
    font-size: 24px;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    background: rgb(152, 31, 9) !important;
}

a.nav-link {
    color: rgb(236, 12, 72) !important;
}

.navbar-light .navbar-toggler {
    background: #c582895e !important;
    color: white;
    border-radius: 30px;
    height: 55px;
    width: 55px;
    border: 2px solid #9a5353;
}

/* main wrap */
.mainwrapper {
    background-image: url(../assets/YouTube.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

section#mainsection {
    background: rgba(0, 0, 0, .6);
    height: 100vh;
    text-align: center;
    color: rgb(214, 195, 195)
}

section#mainsection .container {
    padding: 100px 0;
}

section#mainsection h1 {
    margin: 50px 0 20px;
    font-size: 3rem;
    color: white;
}

#mainsection h3 {
    margin-bottom: 20px;
}

div#searchbox {
    display: inline-flex;

    justify-content: center;
    margin: 10px 0 20px;
    border: 1px solid rgb(134, 48, 16);
}

input#searchlink {
    padding: 10px 15px;
    width: 450px;
}

button#convert-btn {
    background: rgb(128, 0, 0);
    cursor: pointer;
    border: 0;
    width: 114px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
}

.youtube-content {
    padding: 30px!important;
    margin: auto;
}
.youtube-content .row {
    background: rgba(0,0,0,.5);
}
div#content-info {
    align-self: center;
    text-align: left;
    padding: 15px 10px 15px 20px;
}
div#content-info p {
    margin-bottom: 6px;
}
div#content-video {
    padding: 0;
}
video {
    width: 100%;
    height: 100%;
}
.dropdown.show {
    margin: 10px 20px 10px 0px
}
a#dropdownMenuLink {
    background: whitesmoke;
    color: #902e2e;
    font-weight: 600;
    font-size: 14px;
    width: 200px;
    height: 38px;
}
button#downloadbtn {
    padding: 5px 20px;
    background: darkred;
    color: white;
    border: 1px solid gainsboro;
    cursor: pointer;
}
.dwdbtn{
    align-self: center;
}
/* features */
div#redwrap {
    background:#e0b8b84a;
    height: 500px;
    display: flex;
    justify-content: center;
}

div#redwrap h3 {
    align-self: center;
    color: #a97a7a;
    font-size: 38px;
    font-family: 'Pacifico', cursive;
    font-style: oblique;
}
div#whitewrap {
    padding: 50px 20px;
    align-self: center;
}
li {
    list-style: none;
}
i.fas.fa-angle-double-right {
    margin-right: 10px;
    padding-top: 5px;
    color: #cc0909;
}
section.feature-section {
    background: #dcdcdc6e;
}
section.instruction-section {
    background: #c9cbce26;
}
/* footer */
section.footer{
    background: rgb(152, 31, 9) !important;
    color: rgb(230, 221, 223) !important;
    padding: 10px 0;
}
/* .feature-section #redwrap{
    background: #9e2020
} */


@media only screen and (max-width: 760px) {
    section#mainsection .container {
        padding: 20px 0;
    }
    section#mainsection h1 {
        
        font-size: 40px;
    }
    video {
        width: 225px;
        height: 170px;
        margin-bottom: 20px;
    }
    div#content-info .d-flex{
        justify-content: center;
    }
    div#content-info {
        text-align: center;
    }
}